v-cloak {
    display: none;
}

.btn-dark {
    background-color: #2f4050;
    border-color: #2f4050;
    color: #FFFFFF;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark,
.btn-dark:active:focus,
.btn-dark:active:hover,
.btn-dark.active:hover,
.btn-dark.active:focus {
    background-color: #233645;
    border-color: #233645;
    color: #FFFFFF;
}

::placeholder {
    color: #b2bec3 !important;
    opacity: 1;
}

.form-group label {
    color: #636e72;
}

.form-group input {
    height: 35px;
    font-size: 10pt;
    border-radius: 5px;
}

.form-title {
    padding: 6px 6px 10px 10px;
    font-weight: 600;
    color: #007E33;
    font-size: 9pt;
    border-bottom: 1px solid rgba(0, 200, 81, 0.1);
    /*background-color: rgba(0, 200, 81, 0.08);*/
    text-align: left;
    border-top: 0px;
}

.form-content {
    padding: 2px 2px 2px 2px;
    font-weight: 600;
    /*color: #00C851;*/
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
}

.form-button {
    padding: 20px 20px 10px 0px;
    text-align: right;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.form-content .label-form {
    padding: 8px 0px 8px 15px;
    font-weight: 600;
    color: #636e72;
    font-family: 'Open Sans';
    font-size: 9pt;
    /* background-color: var(--content-color); */
}

.form-content input {
    height: 35px;
    font-size: 8pt;
    font-weight: 550;
    color: #7f8c8d;
    border: 1px solid rgba(189, 195, 199, 0.5);
    border-radius: 3px;
    box-shadow: 0px 0px 5px #fefefe;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
    /*background: red;*/
}

.form-content select {
    /* height: 30px; */
    font-size: 9pt;
    font-weight: normal;
    border: 1px solid rgba(189, 195, 199, 0.5);
    box-shadow: 0px 0px 5px #fefefe;
}

.form-content textarea {
    font-size: 9pt;
    resize: none;
    font-weight: normal;
    border: 1px solid rgba(189, 195, 199, 0.5);
    box-shadow: 0px 0px 5px #fefefe;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
}

.form-content input[readonly] {
    background: white;
    cursor: not-allowed;
}

.form-content.second-color {
    background: white
}

.form-content.second-color .label-form {
    background: white;
}

.form-content.form-break {
    padding: 17px 0px;
}

.input-group-addon {
    background: white;
    font-weight: 600;
    font-size: 9pt;
    cursor: pointer;
}
